/* CSS Document */
body, h1, h2, h3, h4, h5, h6, p, dl, dt, dd, ul, ol, li, fieldset, button, input, textarea, th, td {
    margin: 0;
    padding: 0;
}

body {
    font: 12px/1.6 Helvetica, "Microsoft YaHei", Tahoma, Arial, "\5b8b\4f53", sans-serif;
    color: #333;
    text-align: center;
    background-color: #fff;
}

ul, ol, li {
    list-style: none;
}

a {
    text-decoration: none;
    color: #666;
}

a:hover {
    text-decoration: none;
    color: #333;
}

fieldset, img {
    border: none;
}

button, input, select, textarea {
    font-size: 100%;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

h1, h2, h3 {
    font-size: 15px;;
}

/*---基础样式标准---*/
em {
    font-style: normal;
}

.clearfix {
    *zoom: 1;
}

.clearfix:after {
    display: block;
    clear: both;
    height: 0;
    content: "\0020"
}

body.index {
    background: url("../images/colorful.jpg")/*tpa=https://www.slowmist.com/images/bg.jpg*/ no-repeat 50% 50%;
    background-size: cover;
}

/*--结构--*/
.layout {
    width: 1200px;
    margin: 0 auto;
    text-align: left;
}

.fp-bg {
    background-size: cover;
    transition: all 1000ms ease;
    top: 0;
    bottom: 0;
    width: 100%;
    position: absolute;
    z-index: -1;
}

.header {
    position: fixed;
    top: 2%;
    width: 100%;
    height: 60px;
    z-index: 99999;
}

.header .logo {
    float: left;
    margin-left: 5%;
    width: 178px;
    height: 60px;
    background: url("../images/logo.png")/*tpa=https://www.slowmist.com/images/logo.png*/ no-repeat 0 50%;
    background-size: auto 60px;
    transition: all .8s ease;
}

.header .logo a {
    display: block;
    width: 178px;
    height: 60px;
}

.header #menu {
    float: right;
    margin-right: 5%;
    padding-right: 90px;
}

.header #menu li {
    float: left;
    margin-left: 40px;
    padding-top: 12px;
}

.header #menu li a {
    color: #fff;
    padding: 6px;
    display: block;
    border-bottom: 1px solid transparent;
    transition: all .8s ease;
}

.header #menu li.active a {
    border-bottom: 1px solid #fff;
}

.header #menu li a:hover {
    border-bottom: 1px solid #bbb;
    color: #ddd;
}

.header .language {
    position: absolute;
    right: 5%;
    top: 12px;
}

.header .language a {
    display: block;
    padding: 0 10px;
    height: 30px;
    line-height: 30px;
    color: #fff;
    border: 1px solid #fff;
    transition: all .8s ease;
}

.header.top .logo {
    background: url("../images/logo-b.png")/*tpa=https://www.slowmist.com/images/logo-b.png*/ no-repeat 0 50%;
    background-size: auto 60px;
    transition: all .8s ease;
}

.header.top #menu li a {
    color: #333;
    transition: all .8s ease;
}

.header.top #menu li.active a {
    border-bottom: 1px solid #666;
}

.header.top #menu li a:hover {
    border-bottom: 1px solid #333;
    color: #000;
}

.header.top .language a {
    color: #000;
    border: 1px solid #666;
    transition: all .8s ease;
}


.header #menu ul { float: left;}
.header .link-github { float: left; margin-left: 40px; padding-top: 8px;}
.header .link-github a { color: #fff;}
.header .link-github a:hover { color: #fff; text-decoration: underline;}

.header.top .link-github a { color: #333;}
.header.top .link-github a:hover { color: #000; text-decoration: underline;}

.s-header #menu ul { float: left;}
.s-header .link-github { float: left; margin-left: 40px; padding-top: 8px;}
.s-header .link-github a { color: #333;}
.s-header .link-github a:hover { color: #000; text-decoration: underline;}
.s-header .link-github a i { display: inline-block; width: 24px; height: 24px; margin-right: 5px; position: relative; top: 6px; background: url("../images/icon-github.png")/*tpa=https://www.slowmist.com/images/icon-github.png*/ no-repeat 0 100%; background-size: 24px auto;}


#fp-nav ul li a span {
    background: #999;
}

#fp-nav.black ul li a span {
    background: #333;
}

/*--home--*/
.icon-arrow {
    position: fixed;
    z-index: 99999;
    left: 50%;
    bottom: 30px;
    width: 34px;
    height: 34px;
    margin-left: -17px;
    background: url("../images/icon-arrow.png")/*tpa=https://www.slowmist.com/images/icon-arrow.png*/ no-repeat 50% 50%;
    background-size: 20px auto;
    -webkit-animation: arrowdou .5s infinite linear;
    -moz-animation: arrowdou .5s infinite linear;
    -o-animation: arrowdou .5s infinite linear;
    animation: arrowdou .5s infinite linear;
}

@-webkit-keyframes arrowdou {
    0% {
        bottom: 30px;
    }
    50% {
        bottom: 35px;
    }
    100% {
        bottom: 30px;
    }
}

@-moz-keyframes arrowdou {
    0% {
        bottom: 30px;
    }
    50% {
        bottom: 35px;
    }
    100% {
        bottom: 30px;
    }
}

@-o-keyframes arrowdou {
    0% {
        bottom: 30px;
    }
    50% {
        bottom: 35px;
    }
    100% {
        bottom: 30px;
    }
}

@keyframes arrowdou {
    0% {
        bottom: 30px;
    }
    50% {
        bottom: 35px;
    }
    100% {
        bottom: 30px;
    }
}

.scene,
.layer {
    display: block;
    height: 100%;
    width: 100%;
    padding: 0;
    margin: 0;
}

.scene {
    min-height: 600px;
    position: relative;
    overflow: hidden;
}

.scene .background {
    background: url("../images/main.jpg")/*tpa=https://www.slowmist.com/images/bg1.jpg*/ no-repeat 100% 100%;
    bottom: 0px;
    background-size: cover;
    position: absolute;
    width: 110%;
    left: -5%;
    top: -5%;
}

.scene .ob1 {
    position: absolute;
    top: 180px;
    left: 50%;
    margin-left: -800px;
}

.scene .ob2 {
    position: absolute;
    top: 480px;
    left: 50%;
    margin-left: -760px;
}

.scene .ob3 {
    position: absolute;
    top: 575px;
    left: 50%;
    margin-left: 100px;
}

#section0 .fp-bg {
    background-color: #222;
}

#section0 h2 {
    font-size: 54px;
    color: #fff;
    font-weight: normal;
}

#section0 p {
    font-size: 40px;
    color: #fff;
    font-weight: lighter;
}

.a-delay1 {
    animation-delay: .5s;
}

.a-delay2 {
    animation-delay: .7s;
}

.a-delay3 {
    animation-delay: .9s;
}

.section .titpic {
    line-height: 1;
}

.section .tit {
    font-size: 20px;
    margin-bottom: 50px;
}

/*--================================================2service===========================================--*/
#section1 .fp-bg {
    background-color: #fff;
}

#section1 p {
    font-size: 14px;
}

#section1 ul {
    width: 1120px;
    margin: 0 auto;
}

#section1 ul li {
    float: left;
    width: 260px;
    margin: 0 10px;
}

#section1 ul li.l1 {
    animation-delay: .5s;
}

#section1 ul li.l2 {
    animation-delay: .7s;
}

#section1 ul li.l3 {
    animation-delay: .9s;
}

#section1 ul li.l4 {
    animation-delay: 1.1s;
}

#section1 ul li .s-content a {
    display: block;
    border: 1px solid #eee;
    padding: 25px 20px;
    box-shadow: 0 1px 3px -2px rgba(10, 16, 34, .1);
    border-radius: 8px;
    transition: all .3s ease;
}

#section1 ul li .s-content a:hover {
    box-shadow: 0 10px 60px -2px rgba(10, 16, 34, .1);
    transition: all .3s ease;
}

#section1 ul li .s-content h3 {
    margin-bottom: 10px;
}

#section1 ul li .s-content p {
    min-height: 60px;
    text-align: justify;
}

#section1 ul li .s-content em.price {
    font-weight: bold;
}

#section1 ul li .s-content .more span {
    border-bottom: 1px solid #000;
    color: #000;
    padding-bottom: 5px;
}

#section1 ul li .s-content i {
    display: inline-block;
    height: 100px;
}

#section1 ul li .s-content i svg {
    width: 80px;
}

/*--================================================news===========================================--*/

#section2 .fp-bg {
    background-color: #eee;
}

.news-zt {
    width: 84%;
    max-width: 900px;
    margin: 0 auto;
}

.news-zt img {
    width: 100%;
    display: block;
}

.news-zx {
    width: 84%;
    max-width: 900px;
    margin: 0 auto;
}

.tabs-tit {
    margin-bottom: 15px;
}

.tabs-tit a {
    display: inline-block;
    font-size: 14px;
    font-weight: bold;
    margin: 0 50px;
    padding: 10px;
    border-bottom: 1px solid transparent;
}

.tabs-tit a.active {
    color: #000;
    border-bottom: 1px solid #000;
}

.news-list li {
    margin-bottom: 10px;
}

.news-list li a {
    display: block;
    position: relative;
    padding-left: 140px;
    text-align: left;
    min-height: 80px;
    padding-right: 100px;
}

.news-list li a img {
    position: absolute;
    margin: 0 0 0 -140px;
    width: 120px;
    height: 80px;
}

.news-list li h3 {
    padding: 5px 0;
    margin-bottom: 5px;
}

.news-list li p {
    height: 40px;
    overflow: hidden;
}

.news-list li a span.time {
    position: absolute;
    right: 1px;
    top: 0;
    display: inline-block;
    width: 60px;
    height: 78px;
    border: 1px solid #bbb;
    text-align: center;
}

.news-list li a span.time em {
    display: block;
    padding: 10px 0;
    border-bottom: 1px solid #bbb;
    margin-bottom: 5px;
    font-size: 18px;
}

.swiper-pagination-bullet-active {
    background: #000;
}

.swiper-button-prev, .swiper-container-rtl .swiper-button-next {
    background: url("../images/news-l.png")/*tpa=https://www.slowmist.com/images/news-l.png*/ no-repeat 50% 50%;
    background-size: 9px 18px;
}

.swiper-button-next, .swiper-container-rtl .swiper-button-prev {
    background: url("../images/news-r.png")/*tpa=https://www.slowmist.com/images/news-r.png*/ no-repeat 50% 50%;
    background-size: 9px 18px;
}

.news-zx a.btn-more {
    padding: 10px 30px;
    border: 1px solid #bbb;
    display: inline-block;
    box-shadow: 0 1px 3px -2px rgba(10, 16, 34, .1);
    margin-top: 10px;
}

.news-zx a.btn-more:hover {
    box-shadow: 0 10px 60px -2px rgba(10, 16, 34, .1);
    transition: all .3s ease;
}

/*--================================================4aboutUs===========================================--*/
#section3 .fp-bg {
}

#section3 .tit {
    color: #fff;
}

.about-con {
    width: 800px;
    margin: 0 auto;
    color: #fff;
}

.about-con p {
    text-align: justify;
    line-height: 2;
    font-size: 14px;
    margin-bottom: 50px;
}

.about-con p em {
    font-weight: bold;
    margin: 0 5px;
}

.about-con ul {
    margin: 0 70px;
}

.about-con li {
    float: left;
    width: 50%;
}

.about-con li img {
    width: 110px;
    margin-bottom: 10px;
}

.about-con li h3 {
    font-size: 18px;
    font-weight: lighter;
}

/*--================================================5contactUs===========================================--*/
#section4 .fp-bg {
    background-color: #fff;
}

.contact-con {
    width: 800px;
    margin: 0 auto;
}

.contact-con li {
    float: left;
    width: 33.33%;
}

.contact-con li img {
    width: 220px;
}

.contact-con-en {
    width: 500px;
    margin: 0 auto;
}

.contact-con-en dl {
    padding: 20px;
}

.contact-con-en dd {
    float: left;
    width: 48%;
    margin: 0 1%;
    position: relative;
}

.contact-con-en dd img {
    margin-bottom: 10px;
    width: 90px;
}

.contact-con-en dd .contact-con-en-wx {
    display: none;
    position: absolute;
    top: 0;
    left: 50%;
    width: 160px;
    height: 160px;
    background-color: #fff;
    border: 1px solid #eee;
    margin-left: -80px;
    margin-top: -180px;
}

.contact-con-en dd .contact-con-en-wx img {
    width: 100%;
}

.contact-con-en dd a {
    display: block;
}

.contact-con-en dd a.wxgzh:hover .contact-con-en-wx {
    display: block;
}

.contact-con li p {
    font-size: 14px;
}

.contact-con h3 i {
    display: inline-block;
    width: 18px;
    height: 18px;
    position: relative;
    margin-right: 5px;
    top: 3px;
}

.contact-con h3 i.icon-wx {
    background: url("../images/icon-wx.png")/*tpa=https://www.slowmist.com/images/icon-wx.png*/ no-repeat 50% 50%;
    background-size: auto 18px;
}

.contact-con h3 i.icon-zsxq {
    background: url("../images/icon-zsxq.png")/*tpa=https://www.slowmist.com/images/icon-zsxq.png*/ no-repeat 50% 50%;
    background-size: auto 18px;
}

.contact-con h3 i.icon-wb {
    background: url("../images/icon-wb.png")/*tpa=https://www.slowmist.com/images/icon-wb.png*/ no-repeat 50% 50%;
    background-size: auto 18px;
}

.email-sm {
    padding: 50px 0 30px 0;
}

.email-sm a {
    font-size: 16px;
    display: inline-block;
    border: 1px solid #ddd;
    padding: 12px 30px;
    box-shadow: 0 1px 3px -2px rgba(10, 16, 34, .1);
}

.email-sm a:hover {
    box-shadow: 0 10px 60px -2px rgba(10, 16, 34, .1);
    transition: all .3s ease;
}

.email-sm i {
    display: inline-block;
    width: 18px;
    height: 14px;
    background: url("../images/icon-email.png")/*tpa=https://www.slowmist.com/images/icon-email.png*/ no-repeat 0 50%;
    background-size: 18px auto;
    position: relative;
    top: 2px;
    margin-right: 5px;
}

/*--================================================6partner===========================================--*/

#section5 .tit {
    color: #fff;
}

#section5 .fp-bg {
    background-color: #282828;
}

.partner-con {
    width: 80%;
    margin-left: 10%;
}

.partner-con ul li {
    float: left;
    width: 12.5%;
}

.partner-con ul li p {
    margin: 3px;
    padding: 0.5% 14%;
    border: 1px solid rgba(255, 255, 255, 0.05);
}

.partner-con ul li img {
    width: 100%;
    display: block;
}

/*--================================================footer===========================================--*/
.footer {
    display: block;
    position: fixed;
    bottom: 15px;
    text-align: center;
    color: #999;
    z-index: 99999;
    width: 100%;
}

.footer p {
    font-size: 12px;
    color: #555;
}

.footer p img {
    vertical-align: top;
}

.footer a {
    color: #555;
}

.cls-1 {
    fill: none;
    stroke: #181818;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke-width: 4.2px;
}

/*-------------=================cloud================---------------*/
.cloud img {
    position: absolute;
    z-index: 1;
    width: 100%;
    height: 100%;
    opacity: 0;
    top: 0;
    left: 0;
    -webkit-animation: cloudani 8s infinite linear;
    -moz-animation: cloudani 8s infinite linear;
    -o-animation: cloudani 8s infinite linear;
    animation: cloudani 8s infinite linear;
}

@-webkit-keyframes cloudani {
    0% {
        width: 100%;
        opacity: 0;
    }
    50% {
        width: 130%;
        opacity: .8;
    }
    100% {
        width: 100%;
        opacity: 0;
    }
}

@-moz-keyframes cloudani {
    0% {
        width: 100%;
        opacity: 0;
    }
    50% {
        width: 130%;
        opacity: .8;
    }
    100% {
        width: 100%;
        opacity: 0;
    }
}

@-o-keyframes cloudani {
    0% {
        width: 100%;
        opacity: 0;
    }
    50% {
        width: 130%;
        opacity: .8;
    }
    100% {
        width: 100%;
        opacity: 0;
    }
}

@keyframes cloudani {
    0% {
        width: 100%;
        opacity: 0;
    }
    50% {
        width: 130%;
        opacity: .8;
    }
    100% {
        width: 100%;
        opacity: 0;
    }
}

/*-------------=================service================---------------*/

.s-header {
    width: 100%;
    height: 70px;
    position: relative;
    background-color: #fff;
    padding-top: 10px;
}

.s-header .logo {
    float: left;
    margin-left: 5%;
    width: 178px;
    height: 60px;
    background: url("../images/logo-b.png")/*tpa=https://www.slowmist.com/images/logo-b.png*/ no-repeat 0 50%;
    background-size: auto 60px;
    transition: all .8s ease;
}

.s-header .logo a {
    display: block;
    width: 178px;
    height: 60px;
}

.s-header #menu {
    float: right;
    margin-right: 5%;
    padding-right: 90px;
}

.s-header #menu li {
    float: left;
    margin-left: 40px;
    padding-top: 12px;
}

.s-header #menu li a {
    color: #333;
    padding: 6px;
    display: block;
    border-bottom: 1px solid transparent;
    transition: all .8s ease;
}

.s-header #menu li a.cur {
    border-bottom: 1px solid #333;
}

.s-header #menu li a:hover {
    border-bottom: 1px solid #666;
    color: #666;
}

.s-header .language {
    position: absolute;
    right: 5%;
    top: 22px;
}

.s-header .language a {
    display: block;
    padding: 0 10px;
    height: 30px;
    line-height: 30px;
    color: #000;
    border: 1px solid #666;
    transition: all .8s ease;
}

.service-banner {
    background: url("../images/s-bg.jpg")/*tpa=https://www.slowmist.com/images/s-bg.jpg*/ no-repeat 50% 50%;
    background-size: cover;
    height: 150px;
    padding-top: 40px;
    color: #fff;
    margin-bottom: 20px;
}

.service-banner i {
    display: inline-block;
    width: 100px;
    height: 120px;
    margin-bottom: 5px;
}

.service-banner .cls-1 {
    stroke: #fff;
}

.service-box {
    width: 1000px;
    border: 1px solid #eee;
    padding: 20px;
    margin: 0 auto 20px auto;
    text-align: left;
}

.service-box h1.title {
    text-align: center;
    margin-bottom: 30px;
    border-bottom: 1px solid #eee;
    padding-bottom: 20px;
}

.service-box h1 {
    margin-bottom: 10px;
}

.service-box h2 {
    margin-bottom: 10px;
    padding: 5px 0;
    font-size: 13px;
}

.service-box p {
    margin-bottom: 10px;
}

.service-box dl {
    margin-bottom: 3px;
}

.service-box dt {
    display: block;
    margin-bottom: 10px;
    font-weight: bold;
    background-color: #f5f5f5;
    padding: 1px 3px;
}

.service-box dd {
    margin-bottom: 10px;
    float: left;
    display: block;
    width: 25%;
}

.service-bs {
    text-align: center;
}

.service-bs p {
    padding-top: 20px;
    font-size: 14px;
}

.service-bs h2 {
    margin: 50px 0 10px 0;
}

.service-bs .email {
    margin-bottom: 50px;
}

.service-bs .email a {
    font-size: 14px;
    display: inline-block;
    border: 1px solid #ddd;
    padding: 12px 30px;
    box-shadow: 0 1px 3px -2px rgba(10, 16, 34, .1);
    background-color: #f5f5f5;
}

.service-bs .email a:hover {
    box-shadow: 0 10px 60px -2px rgba(10, 16, 34, .1);
    transition: all .3s ease;
}

.service-bs .email i {
    display: inline-block;
    width: 18px;
    height: 14px;
    background: url("../images/icon-email.png")/*tpa=https://www.slowmist.com/images/icon-email.png*/ no-repeat 0 50%;
    background-size: 18px auto;
    position: relative;
    top: 2px;
    margin-right: 5px;
}

.service-fxb-dzk {
    width: 900px;
    margin: 0 auto 30px auto;
    padding: 20px 0;
}

.service-fxb-dzk h2 {
    font-size: 30px;
}

.service-fxb-dzk p {
    font-size: 18px;
}

.service-fxb-dzk p.price {
    padding: 10px 0;
    color: #d90000;
    font-size: 22px;
}

.service-fxb-dzk .email a {
    display: inline-block;
    border: 1px solid #eee;
    padding: 10px 30px;
    font-size: 14px;
    box-shadow: 0 1px 3px -2px rgba(10, 16, 34, .1);
}

.service-fxb-dzk .email a:hover {
    box-shadow: 0 10px 60px -2px rgba(10, 16, 34, .1);
    transition: all .3s ease;
}

.service-fxb-dzk .email a i {
    display: inline-block;
    width: 18px;
    height: 14px;
    background: url("../images/icon-email.png")/*tpa=https://www.slowmist.com/images/icon-email.png*/ no-repeat 0 50%;
    background-size: 18px auto;
    position: relative;
    top: 2px;
    margin-right: 5px;
}

.service-fxb-p {
    width: 900px;
    margin: 0 auto 30px auto;
}

.service-fxb-p h2 {
    margin-bottom: 20px;
    font-size: 18px;
}

.service-fxb-p li {
    float: left;
    width: 238px;
    margin: 0 10px;
    border: 1px solid #eee;
    padding: 20px;
}

.service-fxb-p li img {
    width: 90px;
}

.service-fxb-p li h3 {
    margin-bottom: 5px;
}

.service-fxb-code {
    width: 880px;
    margin: 0 auto;
}

.service-fxb-code h2 {
    margin-bottom: 20px;
    font-size: 18px;
}

.service-fxb-code pre {
    background-color: #333;
    padding: 20px;
    text-align: left;
    margin: 0;
    overflow-x: scroll;
    overflow-y: hidden;
}

.tabs-tit-code a {
    float: left;
    width: 25%;
    background-color: #f5f5f5;
    padding: 10px 0;
}

.tabs-tit-code a.active {
    background-color: #333;
    color: #fff;
}

.s-footer {
    padding: 30px 0;
    color: #bbb;
}

.s-footer a {
    color: #bbb;
}

/*------=====news=====----*/
.news-header {
    width: 100%;
    height: 70px;
    position: relative;
    background-color: #fff;
    padding-top: 10px;
    border-bottom: 1px solid #eee;
    margin-bottom: 10px;
}

.news-header .logo {
    float: left;
    margin-left: 5%;
    width: 178px;
    height: 60px;
    background: url("../images/logo-b.png")/*tpa=https://www.slowmist.com/images/logo-b.png*/ no-repeat 0 50%;
    background-size: auto 60px;
    transition: all .8s ease;
}

.news-header .logo a {
    display: block;
    width: 178px;
    height: 60px;
}

.news-header .language {
    position: absolute;
    right: 5%;
    top: 22px;
}

.news-header .language a {
    display: block;
    padding: 0 10px;
    height: 30px;
    line-height: 30px;
    color: #000;
    border: 1px solid #666;
    transition: all .8s ease;
}

.news-header .btn-back {
    float: right;
    margin-right: 5%;
    padding: 9px 70px 0 0;
}

.news-header .btn-back a {
    display: block;
    padding: 10px 20px;
}

.section .titpic img {
    height: 64px;
}

.service-nav {
    margin-bottom: 20px;
    color: #bbb;
}

.service-nav a {
    display: inline-block;
    font-size: 14px;
    font-weight: bold;
    color: #000;
    margin: 0 10px;
    padding: 5px 0;
}

.backtotop {
    position: fixed;
    z-index: 999999;
    right: 10px;
    bottom: 10px;
}

.backtotop a {
    display: inline-block;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background: rgba(0, 0, 0, 0.5) url("../images/icon-arrow2.png")/*tpa=https://www.slowmist.com/images/icon-arrow2.png*/ no-repeat 50% 50%;
    background-size: 14px auto;
}

/*--pdf-box---*/
.pdf-box {
    margin-bottom: 20px;
}

.pdf-box a {
    display: inline-block;
    padding: 10px 15px;
    border: 1px solid #ddd;
    font-size: 14px;
    border-radius: 4px;
}

.pdf-box a i {
    display: inline-block;
    width: 20px;
    height: 23px;
    background: url("../images/icon-pdf.png")/*tpa=https://www.slowmist.com/images/icon-pdf.png*/ no-repeat 0 0;
    background-size: 20px 23px;
    position: relative;
    margin-right: 5px;
    top: -1px;
    vertical-align: top;
}

.statement { width: 96%; padding: 0 2%; margin-bottom: 10px; position: relative; color: #888; background-color: #333; height: 30px; line-height: 30px;}
.statement-scroll { width:100%; position:absolute; left:0; top:0;}
.statement-scroll span { display: inline-block; width: 1400px; color: #999;}

@media screen and (min-width: 1024px) and (max-width: 1920px) {
    #section0 h2 {
        font-size: 50px;
    }

    #section0 p {
        font-size: 30px;
    }

    .header .logo {
        background-size: auto 50px;
    }

    .header.top .logo {
        background-size: auto 50px;
    }

    .news-header .logo {
        background-size: auto 50px;
    }

    .s-header .logo {
        background-size: auto 50px;
    }

    .section .titpic img {
        height: 60px;
    }

    .section .tit {
        margin-bottom: 50px;
    }

    #section1 ul li .s-content i svg {
        width: 70px;
    }

    #section1 ul li .s-content i {
        height: 90px;
    }

    #section1 ul {
        width: 1000px;
    }

    #section1 ul li {
        width: 230px;
    }

    #section1 p {
        font-size: 12px;
    }

    #section1 ul li .s-content p {
        min-height: 50px;
    }

    .topic-pic {
        width: 220px;
    }

    .topic-con h3 {
        font-size: 30px;
    }

    .topic-con h4 {
        font-size: 24px;
    }

    .topic-con .btn-more {
        padding: 8px 30px;
    }

    .about-con p {
        font-size: 13px;
        padding: 20px 0;
    }

    .about-con li img {
        width: 100px;
    }

    .about-con li h3 {
        font-size: 16px;
    }

    .contact-con {
        width: 600px;
    }

    .contact-con li img {
        width: 180px;
    }

    .email-sm a {
        padding: 9px 25px;
        font-size: 16px;
    }

    .partner-con ul li {
        width: 16.66%;
    }

    .partner-con ul li p {
        margin: 3px;
        padding: 0.5% 12%;
    }

}

@media screen and (min-width: 640px) and (max-width: 1024px) {
    #section0 h2 {
        font-size: 32px;
    }

    #section0 p {
        font-size: 24px;
    }

    .header .logo {
        background-size: auto 44px;
        width: 140px;
    }

    .header .logo a {
        width: 140px;
    }

    .header.top .logo {
        background-size: auto 44px;
        width: 140px;
    }

    .news-header .logo {
        background-size: auto 44px;
    }

    .s-header .logo {
        background-size: auto 44px;
        width: 140px;
    }

    .s-header .logo a {
        width: 140px;
    }

    .s-header #menu li {
        margin-left: 10px;
    }

    .s-header #menu {
        padding-right: 50px;
    }

    .service-box {
        width: 82%;
    }

    .service-box dd {
        width: 31.33%;
        margin: 0 1%;
        margin-bottom: 10px;
    }

    .service-fxb-dzk, .service-fxb-p, .service-fxb-code {
        width: 84%;
    }

    .service-fxb-p li {
        width: 33.33%;
        margin: 0;
        border: none;
        padding: 0;
    }

    .service-fxb-p li img {
        width: 50px;
    }

    .service-fxb-p li p {
        padding: 5px 10px;
        font-size: 12px;
        color: #999;
        text-align: justify;
    }

    .section .titpic img {
        height: 56px;
    }

    .section .tit {
        margin-bottom: 40px;
    }

    #section1 ul li .s-content i svg {
        width: 60px;
    }

    #section1 ul li .s-content i {
        height: 80px;
    }

    #section1 ul {
        width: 640px;
    }

    #section1 ul li {
        width: 150px;
        margin: 0 5px;
    }

    #section1 p {
        font-size: 12px;
    }

    #section1 ul li .s-content p {
        min-height: 65px;
    }

    .topic-pic {
        width: 200px;
    }

    .topic-con h3 {
        font-size: 26px;
    }

    .topic-con h4 {
        font-size: 20px;
    }

    .topic-con .btn-more {
        padding: 7px 25px;
        font-size: 14px;
    }

    .about-con p {
        font-size: 12px;
        padding: 15px 0;
    }

    .about-con li img {
        width: 90px;
    }

    .about-con li h3 {
        font-size: 14px;
    }

    .contact-con {
        width: 460px;
    }

    .contact-con li img {
        width: 150px;
    }

    .email-sm a {
        padding: 7px 20px;
        font-size: 14px;
    }

    .partner-con ul li p {
        margin: 3px;
        padding: 5%;
    }

    #section1 ul li .s-content a {
        padding: 20px 10px;
    }

    .about-con {
        width: 600px;
    }

    .header #menu li {
        margin-left: 22px;
    }

    .header #menu {
        padding-right: 70px;
    }

    .tabs-tit a {
        margin: 0 30px;
    }

}

@media screen and (min-width: 375px) and (max-width: 640px) {
    #section0 h2 {
        font-size: 22px;
        margin-bottom: 5px;
    }

    #section0 p {
        font-size: 15px;
    }

    .header {
        height: 50px;
    }

    .header .logo {
        background-size: auto 30px;
        width: 100px;
        height: 50px;
    }

    .header .logo a {
        width: 100px;
        height: 50px;
    }

    .header.top .logo {
        background-size: auto 30px;
        width: 100px;
        height: 50px;
    }

    .header .language {
        top: 15px;
    }

    .header .language a {
        height: 22px;
        line-height: 22px;
    }

    .news-header {
        padding: 0;
        height: 50px;
    }

    .news-header .logo {
        background-size: auto 30px;
        width: 100px;
        height: 50px;
    }

    .news-header .logo a {
        width: 100px;
        height: 50px;
    }

    .news-header .btn-back {
        padding: 5px 50px 0 0;
    }

    .news-header .language {
        top: 13px;
    }

    .news-header .language a {
        height: 22px;
        line-height: 22px;
    }

    .header #menu {
        width: 90%;
        margin: 0 5%;
        padding: 0;
    }

    .header #menu li {
        margin: 0;
        padding: 0;
        width: 16.66%;
    }

    .header #menu li a {
        padding: 6px 0;
    }

    .header {
        top: 0;
    }

    .section .titpic img {
        padding-top: 30px;
        height: 36px;
    }

    .section#section5 .titpic img { padding-top: 0;}

    .section .tit {
        margin-bottom: 10px;
        font-size: 12px;
    }

    #section1 ul li .s-content i svg {
        width: 30px;
    }

    #section1 ul li .s-content i {
        height: 40px;
    }

    #section1 ul {
        width: 90%;
    }

    #section1 ul li {
        width: 50%;
        margin: 0 0 5px 0;
    }

    #section1 p {
        font-size: 12px;
    }

    #section1 ul li .s-content p {
        min-height: 65px;
    }

    #section1 ul li .s-content {
        padding: 0 3px;
    }

    #fp-nav.right {
        right: 0;
    }

    #section1 ul li .s-content a {
        padding: 15px;
        border: none;
    }

    #section1 ul li .s-content h3 {
        margin-bottom: 0;
        font-size: 14px;
        font-weight: normal;
    }

    .topic-pic {
        width: 160px;
    }

    .topic-con h3 {
        font-size: 16px;
    }

    .topic-con h4 {
        font-size: 14px;
    }

    .topic-con .btn-more {
        padding: 7px 25px;
        font-size: 14px;
    }

    .about-con p {
        font-size: 12px;
        padding: 15px 0;
        margin-bottom: 15px;
    }

    .about-con li img {
        width: 60px;
        margin: 0;
    }

    .about-con li h3 {
        font-size: 12px;
    }

    .about-con {
        width: 80%;
        margin-left: 10%;
    }

    .about-con ul {
        margin: 0;
    }

    .contact-con {
        width: 88%;
        margin: 0 6%;
    }

    .contact-con li img {
        width: 90px;
    }

    .email-sm a {
        padding: 5px 10px;
        font-size: 12px;
    }

    .partner-con ul li p {
        margin: 1px;
        padding: 2%;
    }

    .email-sm {
        padding: 20px 0 0 0;
    }

    .footer {
        width: 100%;
        left: 0;
        margin: 0;
    }

    .footer p {
        font-size: 12px;
        color: #555;
    }

    .footer p span {
        font-size: 12px;
        display: block;
    }

    .s-footer {
        width: 100%;
        left: 0;
        margin: 0;
        padding: 10px 0 20px 0;
    }

    .s-footer p span {
        font-size: 12px;
        display: block;
    }

    .partner-con ul li {
        width: 20%;
    }

    .tabs-tit {
        margin-bottom: 20px;
    }

    .tabs-tit a {
        float: left;
        margin: 0;
        padding: 10px 0;
        width: 33.33%;
        font-size: 12px;
    }

    .news-list li a {
        padding-left: 70px;
        min-height: 40px;
        padding-right: 60px;
    }

    .news-list li a img {
        width: 60px;
        height: 40px;
        margin: 0 0 0 -69px;
    }

    .news-list li h3 {
        padding: 0;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        line-height: 1.3;
        font-size: 14px;
        font-weight: normal;
    }

    .news-list li p {
        height: auto;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }

    .news-list li a span.time {
        height: auto;
        width: 50px;
        border: 0.75px solid #ccc;
    }

    .news-list li a span.time em {
        padding: 0;
        font-size: 14px;
        margin-bottom: 1px;
        line-height: 1.4;
        border-bottom: 0.75px solid #ccc;
    }

    .swiper-button-prev, .swiper-container-rtl .swiper-button-next {
        left: 0;
        background-size: 6px auto;
    }

    .swiper-button-next, .swiper-container-rtl .swiper-button-prev {
        right: 0;
        background-size: 6px auto;
    }

    .swiper-container-horizontal > .swiper-pagination-bullets, .swiper-pagination-custom, .swiper-pagination-fraction {
        bottom: 0;
    }

    .swiper-pagination-bullet {
        width: 4px;
        height: 4px;
    }

    .news-zt {
        padding: 10px 0;
    }

    .news-zx {
        padding: 0;
    }

    .contact-con li p {
        font-size: 12px;
    }

    .s-header {
        padding: 0;
        height: auto;
    }

    .s-header .logo {
        background-size: auto 30px;
        width: 100px;
        height: 50px;
    }

    .s-header .logo a {
        width: 100px;
        height: 50px;
    }

    .s-header .btn-back {
        padding: 5px 50px 0 0;
    }

    .s-header .language {
        top: 13px;
    }

    .s-header .language a {
        height: 22px;
        line-height: 22px;
    }

    .s-header #menu {
        width: 100%;
        background-color: #fff;
        padding: 0;
        margin: 0;
    }

    .s-header #menu li {
        margin: 0;
        padding: 0;
        width: 20%;
    }

    .service-box {
        width: 84%;
        margin: 0 auto 20px auto;
        padding: 10px;
    }

    .service-box dd {
        width: 48%;
        margin: 0 1%;
        margin-bottom: 10px;
    }

    .service-fxb-dzk, .service-fxb-p, .service-fxb-code {
        width: 84%;
    }

    .service-fxb-p li {
        width: 33.33%;
        margin: 0;
        border: none;
        padding: 0;
    }

    .service-fxb-p li img {
        width: 50px;
    }

    .service-fxb-p li p {
        padding: 5px 10px;
        font-size: 12px;
        color: #999;
        text-align: justify;
    }

    .service-bs h2 {
        margin: 30px 0 10px 0;
    }

    .service-fxb-dzk h2 {
        font-size: 24px;
    }

    .news-zx a.btn-more {
        padding: 5px 20px;
    }

    .s-header #menu li a {
        padding: 6px 0;
    }

    .s-header #menu li a {
        padding: 6px 0;
    }

    .service-banner i {
        width: 80px;
        height: 90px;
    }

    .service-banner {
        padding-top: 25px;
        height: 110px;
    }

    .service-box h1.title {
        margin-bottom: 15px;
        padding-bottom: 10px;
    }

    .service-box {
        margin-bottom: 10px;
    }

    .service-fxb-dzk {
        padding: 0;
    }

    .service-fxb-dzk h2 {
        font-size: 18px;
    }

    .service-fxb-dzk p {
        font-size: 16px;
    }

    .service-fxb-dzk p.price {
        font-size: 20px;
    }

    #section4 .tit, #section5 .tit {
        margin-bottom: 20px;
    }

    #section5 .tit {
        margin-bottom: 10px;
    }

    .service-nav a {
        font-size: 12px;
        font-weight: normal;
        color: #000;
        margin: 0;
        padding: 5px 0;
    }

    .contact-con h3 {
        font-size: 12px;
        font-weight: normal;
    }

    .contact-con h3 i {
        width: 14px;
        height: 14px;
        margin-right: 2px;
        top: 1px;
    }

    .contact-con h3 i.icon-wx {
        background-size: auto 14px;
    }

    .contact-con h3 i.icon-zsxq {
        background-size: auto 14px;
    }

    .contact-con h3 i.icon-wb {
        background-size: auto 14px;
    }
    .header #menu ul { width: 100%;}
    .header .link-github { position: absolute; z-index: 9999; right: 20%; top: 0;}
    .s-header #menu ul { width: 100%;}
    .s-header .link-github { position: absolute; z-index: 9999; right: 20%; top: 0;}

}

@media screen and (max-width: 374px) {
    #section0 h2 {
        font-size: 16px;
        margin-bottom: 5px;
    }

    #section0 p {
        font-size: 14px;
    }

    .header {
        height: 50px;
    }

    .header .logo {
        background-size: auto 30px;
        width: 100px;
        height: 50px;
    }

    .header .logo a {
        width: 100px;
        height: 50px;
    }

    .header.top .logo {
        background-size: auto 30px;
        width: 100px;
        height: 50px;
    }

    .header .language {
        top: 15px;
    }

    .header .language a {
        height: 22px;
        line-height: 22px;
    }

    .news-header {
        padding: 0;
        height: 50px;
    }

    .news-header .logo {
        background-size: auto 30px;
        width: 100px;
        height: 50px;
    }

    .news-header .logo a {
        width: 100px;
        height: 50px;
    }

    .news-header .btn-back {
        padding: 5px 50px 0 0;
    }

    .news-header .language {
        top: 13px;
    }

    .news-header .language a {
        height: 22px;
        line-height: 22px;
    }

    .header #menu {
        width: 90%;
        margin: 0 5%;
        padding: 0;
    }

    .header #menu li {
        margin: 0;
        padding: 0;
        width: 16.66%;
    }

    .header #menu li a {
        padding: 6px 0;
    }

    .header {
        top: 0;
    }

    .section .titpic img {
        padding-top: 50px;
        height: 26px;
    }

    .section .tit {
        margin-bottom: 1px;
        font-size: 12px;
    }

    #section1 ul li .s-content i svg {
        width: 24px;
        height: 24px;
    }

    #section1 ul li .s-content i {
        height: 28px;
    }

    #section1 ul {
        width: 90%;
    }

    #section1 ul li {
        width: 50%;
        margin: 0 0 5px 0;
    }

    #section1 p {
        font-size: 12px;
    }

    #section1 ul li .s-content p {
        min-height: 52px;
        line-height: 1.4;
    }

    #section1 ul li .s-content {
        padding: 0 3px;
    }

    #fp-nav.right {
        right: 0;
    }

    #section1 ul li .s-content a {
        padding: 5px 10px;
        border: none;
    }

    #section1 ul li .s-content h3 {
        margin-bottom: 0;
        font-size: 13px;
        color: #333;
        font-weight: normal;
    }

    .topic-pic {
        width: 140px;
    }

    .topic-con h3 {
        font-size: 16px;
    }

    .topic-con h4 {
        font-size: 14px;
    }

    .topic-con .btn-more {
        padding: 7px 25px;
        font-size: 14px;
    }

    .about-con p {
        font-size: 12px;
        padding: 5px 0;
        line-height: 1.5;
        margin-bottom: 15px;
    }

    .about-con li img {
        width: 40px;
        margin: 0;
    }

    .about-con li h3 {
        font-size: 12px;
    }

    .about-con {
        width: 80%;
        margin-left: 10%;
    }

    .about-con ul {
        margin: 0;
    }

    .contact-con {
        width: 80%;
        margin: 0 10%;
    }

    .contact-con li img {
        width: 80px;
    }

    .email-sm a {
        padding: 5px 10px;
        font-size: 12px;
    }

    .partner-con ul li p {
        margin: 1px;
        padding: 1%;
    }

    .email-sm {
        padding: 20px 0 0 0;
    }

    .footer {
        width: 100%;
        left: 0;
        margin: 0;
    }

    .footer p {
        font-size: 12px;
        color: #555;
    }

    .footer p span {
        font-size: 12px;
        display: block;
    }

    .s-footer {
        width: 100%;
        left: 0;
        margin: 0;
        padding: 10px 0 20px 0;
    }

    .s-footer p span {
        font-size: 12px;
        display: block;
    }

    .partner-con ul li {
        width: 20%;
    }

    .tabs-tit {
        margin-bottom: 10px;
    }

    .tabs-tit a {
        float: left;
        margin: 0;
        padding: 10px 0;
        width: 33.33%;
        font-size: 12px;
    }

    .news-list li {
        margin-bottom: 10px;
    }

    .news-list li a {
        padding-left: 70px;
        min-height: 40px;
        padding-right: 60px;
    }

    .news-list li a img {
        width: 60px;
        height: 40px;
        margin: 0 0 0 -69px;
    }

    .news-list li h3 {
        padding: 0;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        line-height: 1.3;
        font-size: 13px;
        font-weight: normal;
    }

    .news-list li p {
        height: auto;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }

    .news-list li a span.time {
        height: auto;
        width: 50px;
        border: 0.75px solid #ccc;
    }

    .news-list li a span.time em {
        padding: 0;
        font-size: 14px;
        margin-bottom: 1px;
        line-height: 1.4;
        border-bottom: 0.75px solid #ccc;
    }

    .swiper-button-prev, .swiper-container-rtl .swiper-button-next {
        left: 0;
        background-size: 6px auto;
    }

    .swiper-button-next, .swiper-container-rtl .swiper-button-prev {
        right: 0;
        background-size: 6px auto;
    }

    .swiper-container-horizontal > .swiper-pagination-bullets, .swiper-pagination-custom, .swiper-pagination-fraction {
        bottom: 0;
    }

    .swiper-pagination-bullet {
        width: 4px;
        height: 4px;
    }

    .news-zt {
        padding: 30px 0 0 0;
    }

    .news-box .news-zt {
        padding: 0;
    }

    .news-zx {
        padding: 0;
    }

    .contact-con li p {
        font-size: 12px;
    }

    .s-header {
        padding: 0;
        height: auto;
    }

    .s-header .logo {
        background-size: auto 30px;
        width: 100px;
        height: 50px;
    }

    .s-header .logo a {
        width: 100px;
        height: 50px;
    }

    .s-header .btn-back {
        padding: 5px 50px 0 0;
    }

    .s-header .language {
        top: 13px;
    }

    .s-header .language a {
        height: 22px;
        line-height: 22px;
    }

    .s-header #menu {
        width: 100%;
        background-color: #fff;
        padding: 0;
        margin: 0;
    }

    .s-header #menu li {
        margin: 0;
        padding: 0;
        width: 20%;
    }

    .service-box {
        width: 84%;
        margin: 0 auto 20px auto;
        padding: 10px;
    }

    .service-box dd {
        width: 48%;
        margin: 0 1%;
        margin-bottom: 10px;
    }

    .service-fxb-dzk, .service-fxb-p, .service-fxb-code {
        width: 84%;
    }

    .service-fxb-p li {
        width: 33.33%;
        margin: 0;
        border: none;
        padding: 0;
    }

    .service-fxb-p li img {
        width: 50px;
    }

    .service-fxb-p li p {
        padding: 5px 10px;
        font-size: 12px;
        color: #999;
        text-align: justify;
    }

    .service-bs h2 {
        margin: 30px 0 10px 0;
    }

    .service-fxb-dzk h2 {
        font-size: 24px;
    }

    .news-zx a.btn-more {
        padding: 5px 20px;
    }

    .s-header #menu li a {
        padding: 6px 0;
    }

    .service-banner i {
        width: 60px;
        height: 70px;
    }

    .service-banner {
        padding-top: 20px;
        height: 80px;
    }

    .service-box h1.title {
        margin-bottom: 15px;
        padding-bottom: 10px;
    }

    .service-box {
        margin-bottom: 10px;
    }

    .service-fxb-dzk {
        padding: 0;
    }

    .service-fxb-dzk h2 {
        font-size: 18px;
    }

    .service-fxb-dzk p {
        font-size: 16px;
    }

    .service-fxb-dzk p.price {
        font-size: 20px;
    }

    #section4 .tit, #section5 .tit {
        margin-bottom: 20px;
    }

    #section5 .titpic {
        padding-top: 0;
    }

    #section5 .titpic img {
        padding-top: 0;
    }

    .service-nav {
        margin-bottom: 10px;
    }

    .service-nav a {
        float: left;
        width: 90%;
        margin: 0 5%;
        margin-bottom: 5px;
        font-size: 12px;
        font-weight: normal;
        color: #000;
        padding: 5px 0;
        background-color: #eee;
    }

    .service-nav em {
        display: none;
    }

    .contact-con h3 {
        font-size: 12px;
        font-weight: normal;
    }

    .contact-con h3 i {
        width: 14px;
        height: 14px;
        margin-right: 2px;
        top: 1px;
    }

    .contact-con h3 i.icon-wx {
        background-size: auto 14px;
    }

    .contact-con h3 i.icon-zsxq {
        background-size: auto 14px;
    }

    .contact-con h3 i.icon-wb {
        background-size: auto 14px;
    }
    .header #menu ul { width: 100%;}
    .header .link-github { position: absolute; z-index: 9999; right: 22%; top: 0;}
    .s-header #menu ul { width: 100%;}
    .s-header .link-github { position: absolute; z-index: 9999; right: 22%; top: 0;}

}



